<div class="custom_title" style="background-color:{{item.backgroundColor}};text-align:{{item.textAlign}}">
    <h2 class="title">{{item.title}}</h2>
    <p class="sub_title">{{item.subtitle;}}</p>
</div>
<style type="text/css">
.custom_title {
    padding: 0 ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    word-break: break-all;
}

.custom_title .title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}
.custom_title .sub_title {
	padding:0px;
    color: #8c8c8c;
    font-size: 11px;
    margin: 5px 0 0;
}
</style>