<div class="pageheader">
    <h3>自动回复</h3>
</div>

<section id="main-content">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ui-sref-active="active"><a href="" ui-sref="weixin.reply.onAttention" >关注时回复</a></li>
                <li ui-sref-active="active"><a href="" ui-sref="weixin.reply.noAnswer" >答不上来回复</a></li>
                <li ui-sref-active="active"><a href="" ui-sref="weixin.reply.keywords" >关键词回复</a></li>
            </ul>
            <div ui-view></div>
        </div>
    </div>
</section>