<nav>
	<h5 class="sidebar-header" ui-sref-active="index" ng-class="{active: $state.includes('index')}">
	<a href="" ui-sref="index">后台首页</a>
	</h5>

	<h5 class="sidebar-header" ui-sref-active="order" ng-class="{active: $state.includes('order')}">
	<a href="" ui-sref="order">订单管理</a>
	</h5>
	<h5 class="sidebar-header" ui-sref-active="index" ng-class="{active: $state.includes('index')}">
	<a href="" ui-sref="index">会员管理</a>
	</h5>
	<h5 class="sidebar-header" ui-sref-active="index" ng-class="{active: $state.includes('index')}">
	<a href="" ui-sref="index">财务管理</a>
	</h5>
	<h5 class="sidebar-header" ui-sref-active="goods" ng-class="{active: $state.includes('goods')}">
	<a href="" ui-sref="goods">我的商品</a>
	</h5>
	<h5 class="sidebar-header" ui-sref-active="index" ng-class="{active: $state.includes('index')}">
	<a href="" ui-sref="index">微信</a>
	</h5>
</nav>
