<div class="pageheader">
    <h3>商品详情</h3>
</div>
<section id="main-content" ng-controller="goodsDetails">
    <div class="row">
        <div class="col-sm-12">
                        <form novalidate class="form-group" name="ngform">
                          <table class="table table-bordered table-striped">
                            <tbody>
                              <tr>
                                <td><b>商品名称：</b></td>
                                <td colspan="3">{{data.goodsName}}</td>
                              </tr>
                              <tr>
                                <td><b>商品售价</b></td>
                                <td>
                                  <input type="number" class="form-control" data-ng-model="data.goodsSellprice" name="goodsSellprice" min="0.01" max="999999" required ng-pattern="/^\d+.?\d{0,2}$/" />
                                  <div ng-messages="ngform.goodsSellprice.$error">
                                    <div ng-message="required">商品售价必填</div>
                                    <div ng-message="number">商品售价必需为数字</div>
                                    <div ng-message="min">商品售价不能小于0.01元</div>
                                    <div ng-message="pattern">商品售价最多只能精确到分</div>
                                    <div ng-message="max">商品售价不合理</div>
                                  </div>
                                </td>
                                <td>商品推荐</td>
                                <td>
                                  <input type="radio" name="t[]" value="1" data-ng-model="data.isRecommend">是
                                  &nbsp;
                                  <input type="radio" name="t[]" value="0" data-ng-model="data.isRecommend">否
                                </td>
                              </tr>
                              <tr>
                                <td><b>上架数量：</b></td>
                                <td class="col-sm-4">
                                  <input type="number" class="form-control" data-ng-model="data.stockNumber" name="stockNumber" required min="0" maxlength="5" />
                                  <div ng-messages="ngform.stockNumber.$error">
                                    <div ng-message="required">上架数量必填</div>
                                    <div ng-message="number">上架数量必需为数字</div>
                                    <div ng-message="min">商品售价不能为负数</div>
                                    <div ng-message="maxlength">上架数量不能超过99999件</div>
                                  </div>
                                </td>
                                <td><b>自动下架时间：</b></td>
                                <td><input type="text"  date-picker format="'yyyy-mm-dd hh:ii:ss'" minview="'0'" class="form-control" data-ng-model='data.offlineTime'></td>
                              </tr>
                              <tr ng-hide="flagGoodstype">
                                <td><b>是否加入分销：</b></td>
                                <td>
                            	 <input type="radio" name="f[]" value="1" data-ng-model="data.isAddRetail" >是
                                  &nbsp;
                                  <input type="radio" name="f[]" value="0" data-ng-model="data.isAddRetail">否
                                </td>
                                <td ng-show="data.isAddRetail==1"><b>母婴店收益：</b></td>
                                <td ng-show="data.isAddRetail==1" style="max-width: 300px; width: 300px;">  
                                	<div class="input-group">
	                                	<div class="input-group-addon">¥</div>
	                                	<input class="form-control input100" type="number" data-ng-model="data.storeAmount"  />
                                	</div>
                                </td>
                              </tr>
                               <tr ng-show="flagGoodstype">
                                <td><b>是否加入分销：</b></td>
                                <td>
                                	<span ng-show="data.isAddRetail=='1'">是</span>
                                	<span ng-show="data.isAddRetail=='0'">否</span>
                                </td>
                                <td ng-show="data.isAddRetail==1"><b>母婴店收益：</b></td>
                                <td ng-show="data.isAddRetail==1" style="max-width: 300px; width: 300px;">  
                                	¥{{data.storeAmount}}
                                </td>
                              </tr>
                              <tr ng-show="data.isAddRetail==1" >
                                <td><b>分销进货价：</b></td>
                                <td style="max-width: 300px; width: 300px;">
                                	<div class="input-group"  ng-hide="flagGoodstype">
	                                	<div class="input-group-addon">¥</div>
	                                	<input class="form-control input100" type="number" data-ng-model="data.retailInitPrice" />
                                	</div>
                            		<span ng-show="flagGoodstype">¥{{data.retailInitPrice}}</span>
                                </td>
                                <td><b>分销售价范围：</b></td>
                                <td style="max-width: 300px; width: 300px;" ng-hide="flagGoodstype">
                                	<div class="input-group" style="max-width: 130px;     display: inline-table;">
	                                	<div class="input-group-addon">¥</div>
	                                	<input class="form-control input40" type="number" data-ng-model="data.retailPriceLow"/>
                                	</div>
                                	<div class="input-group"  style="max-width: 130px; display: inline-table; ">
	                                	<div class="input-group-addon">¥</div> 
	                                	<input class="form-control input40" type="number" data-ng-model="data.retailPriceHigh" />
                                	</div>
                                </td>
                                <td style="max-width: 300px; width: 300px;"   ng-show="flagGoodstype">
                                	<span >¥{{data.retailPriceLow}}-¥{{data.retailPriceHigh}}</span>
                                </td>
                              </tr>
                              <tr ng-show="data.isAddRetail==1">
                                <td><b>分销售价：</b></td>
                                <td style="max-width: 300px; width: 300px;" ng-hide="flagGoodstype">
                                	<div class="input-group">
	                                	<div class="input-group-addon">¥</div>
	                                	<input class="form-control input100" type="number"  data-ng-model="data.retailSalePrice"  />
                                	</div>
                                </td>
                                 <td style="max-width: 300px; width: 300px;" ng-show="flagGoodstype">
                                 	¥{{data.retailSalePrice}}
                                </td>
                              </tr>
                              <tr>
<!--                                 <td><b>剩余库存：</b></td>
                                <td>{{data.stockNumber}}</td> -->
                                <td><b>已售出：</b></td>
                                <td>{{data.sellNumber}}</td>
                                <td colspan="2"></td>
                              </tr>
                              <tr>
                                  <td colspan="4" style="text-align:right">
                                    <button type="button" class="btn btn-default btn-sm" data-ng-click="back()">返回</button>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger btn-sm" data-ng-if="data.goodsState==1" data-ng-click="changeStatus()">
                                        下架
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-ng-if="data.goodsState==0" data-ng-click="changeStatus()">
                                        上架
                                    </button>
                                  </td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table table-bordered table-striped">
                            <tbody>
                              <tr>
                                <td><b>商品编号：</b></td>
                                <td>{{data.goodsId}}</td>
                                <td><b>品牌名称：</b></td>
                                <td>{{data.brandName}}</td>
                              </tr>
                              <tr>
                                <td><b>分类：</b></td>
                                <td>
                                  <span ng-if="data.gcNo==item.gcNo" data-ng-repeat="item in classify">{{item.gcName}}</span>
                                </td>
                                <td><b>子分类：</b></td>
                                <td>
                                  <span ng-if="data.gcLitId==item.gcNo" data-ng-repeat="item in childclassify">{{item.gcName}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td><b>商品编码：</b></td>
                                <td>{{data.goodsSn}}</td>
                                <td><b>规格：</b></td>
                                <td>{{data.goodsSpec}}</td>
                              </tr>
                               
                              <tr>
                                <td colspan="4">
                                    <b>产品介绍：</b><br />
                                </td>
                              </tr>
                              <tr>
                                <td colspan="4">
                                    <div class="ueditor" name="content" config=" {toolbars:[
                                        ['bold', 'italic', 'underline', 'strikethrough', 'forecolor', 'backcolor', 'justifyleft', 'justifycenter', 'justifyright', '|', 'insertunorderedlist', 'insertorderedlist', 'blockquote', 'emotion', 'uploadimage', 'link', 'removeformat', '|', 'rowspacingtop', 'rowspacingbottom', 'lineheight', 'paragraph', 'fontsize', 'fullscreen'],
                                        ['inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols']
                                      ],
                                          autoClearinitialContent:true,
                                          wordCount:false,
                                          elementPathEnabled:false,
                                          initialFrameWidth:null,
                                          initialFrameHeight:300,
                                    }" ng-model="data.goodsBody" required></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </form>
        </div>
    </div>
    <div class="center">
        <button type="button" class="btn btn-success" ng-click="submitbtn()">保存</button>
    </div>
</section>